<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Definitions</key>
	<dict>
		<key>../Podfile</key>
		<dict>
			<key>Group</key>
			<array>
				<string>supporting_files</string>
			</array>
			<key>Path</key>
			<string>supporting_files/Podfile</string>
		</dict>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/Development.xcscheme</key>
		<dict>
			<key>Group</key>
			<array>
				<string>REMOVE_REFERENCES</string>
			</array>
			<key>Path</key>
			<string>REMOVE_REFERENCES/Development.xcscheme</string>
		</dict>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/Production.xcscheme</key>
		<dict>
			<key>Group</key>
			<array>
				<string>REMOVE_REFERENCES</string>
			</array>
			<key>Path</key>
			<string>REMOVE_REFERENCES/Production.xcscheme</string>
		</dict>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/Staging.xcscheme</key>
		<dict>
			<key>Group</key>
			<array>
				<string>REMOVE_REFERENCES</string>
			</array>
			<key>Path</key>
			<string>REMOVE_REFERENCES/Staging.xcscheme</string>
		</dict>
		<key>Info.plist:API_BASE_URL</key>
		<dict>
			<key>Beginning</key>
			<string>&lt;key&gt;API_BASE_URL&lt;/key&gt;</string>
			<key>End</key>
			<string>&lt;string&gt;$(API_URL_SCHEME)://$(API_URL_HOST)&lt;/string&gt;</string>
		</dict>
		<key>Info.plist:APP_NAMESPACE</key>
		<dict>
			<key>Beginning</key>
			<string>&lt;key&gt;APP_NAMESPACE&lt;/key&gt;</string>
			<key>End</key>
			<string>&lt;string&gt;$(APP_NAMESPACE)&lt;/string&gt;</string>
		</dict>
		<key>Info.plist:LaunchScreen</key>
		<string>&lt;key&gt;UILaunchStoryboardName&lt;/key&gt;&lt;string&gt;LaunchScreen&lt;/string&gt;</string>
		<key>config/Development.xcconfig</key>
		<dict>
			<key>Group</key>
			<array>
				<string>config</string>
			</array>
			<key>Path</key>
			<string>config/Development.xcconfig</string>
		</dict>
		<key>REMOVE_REFERENCES/remove_references.txt</key>
		<dict>
			<key>Group</key>
			<array>
				<string>REMOVE_REFERENCES</string>
			</array>
			<key>Path</key>
			<string>REMOVE_REFERENCES/remove_references.txt</string>
		</dict>
		<key>app/AppDelegate.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
			</array>
			<key>Path</key>
			<string>app/AppDelegate.swift</string>
		</dict>
		<key>app/errors/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>errors</string>
			</array>
			<key>Path</key>
			<string>.gitkeep</string>
		</dict>
		<key>app/errors/ApiError.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>errors</string>
			</array>
			<key>Path</key>
			<string>app/errors/ApiError.swift</string>
		</dict>
		<key>app/extensions/Optional+expect.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>extensions</string>
			</array>
			<key>Path</key>
			<string>app/extensions/Optional+expect.swift</string>
		</dict>
		<key>app/extensions/String+trimmed.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>extensions</string>
			</array>
			<key>Path</key>
			<string>app/extensions/String+trimmed.swift</string>
		</dict>
		<key>app/extensions/UIImageView+setImage.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>extensions</string>
			</array>
			<key>Path</key>
			<string>app/extensions/UIImageView+setImage.swift</string>
		</dict>
		<key>app/extensions/UIViewController+showAlert.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>extensions</string>
			</array>
			<key>Path</key>
			<string>app/extensions/UIViewController+showAlert.swift</string>
		</dict>
		<key>app/helpers/DefaultsHelper.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>helpers</string>
			</array>
			<key>Path</key>
			<string>app/helpers/DefaultsHelper.swift</string>
		</dict>
		<key>app/helpers/KeychainHelper.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>helpers</string>
			</array>
			<key>Path</key>
			<string>app/helpers/KeychainHelper.swift</string>
		</dict>
		<key>app/networking/ApiProvider.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>networking</string>
			</array>
			<key>Path</key>
			<string>app/networking/ApiProvider.swift</string>
		</dict>
		<key>app/networking/ApiService.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>networking</string>
			</array>
			<key>Path</key>
			<string>app/networking/ApiService.swift</string>
		</dict>
		<key>app/networking/encoder-and-decoder/___PACKAGENAME___JSONDecoder.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>networking</string>
				<string>encoder-and-decoder</string>
			</array>
			<key>Path</key>
			<string>app/networking/encoder-and-decoder/___PACKAGENAME___JSONDecoder.swift</string>
		</dict>
		<key>app/networking/encoder-and-decoder/___PACKAGENAME___JSONEncoder.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>networking</string>
				<string>encoder-and-decoder</string>
			</array>
			<key>Path</key>
			<string>app/networking/encoder-and-decoder/___PACKAGENAME___JSONEncoder.swift</string>
		</dict>
		<key>app/networking/operator/map2.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>networking</string>
				<string>operator</string>
			</array>
			<key>Path</key>
			<string>app/networking/operator/map2.swift</string>
		</dict>
		<key>app/networking/operator/request2.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>networking</string>
				<string>operator</string>
			</array>
			<key>Path</key>
			<string>app/networking/operator/request2.swift</string>
		</dict>
		<key>app/networking/operator/subscribe2.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>networking</string>
				<string>operator</string>
			</array>
			<key>Path</key>
			<string>app/networking/operator/subscribe2.swift</string>
		</dict>
		<key>app/networking/params/LoginParams.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>networking</string>
				<string>params</string>
			</array>
			<key>Path</key>
			<string>app/networking/params/LoginParams.swift</string>
		</dict>
		<key>app/networking/params/RefreshTokenParams.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>networking</string>
				<string>params</string>
			</array>
			<key>Path</key>
			<string>app/networking/params/RefreshTokenParams.swift</string>
		</dict>
		<key>app/networking/plugins/AccessTokenExtractorPlugin.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>networking</string>
				<string>plugins</string>
			</array>
			<key>Path</key>
			<string>app/networking/plugins/AccessTokenExtractorPlugin.swift</string>
		</dict>
		<key>app/networking/plugins/AuthenticationPlugin.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>networking</string>
				<string>plugins</string>
			</array>
			<key>Path</key>
			<string>app/networking/plugins/AuthenticationPlugin.swift</string>
		</dict>
		<key>app/networking/responses/LoginResponse.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>networking</string>
				<string>responses</string>
			</array>
			<key>Path</key>
			<string>app/networking/responses/LoginResponse.swift</string>
		</dict>
		<key>app/networking/responses/RefreshTokenResponse.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>networking</string>
				<string>responses</string>
			</array>
			<key>Path</key>
			<string>app/networking/responses/RefreshTokenResponse.swift</string>
		</dict>
		<key>app/repositories/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>repositories</string>
			</array>
			<key>Path</key>
			<string>app/repositories/.gitkeep</string>
		</dict>
		<key>app/ui/coordinators/MainCoordinator.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>ui</string>
				<string>coordinators</string>
			</array>
			<key>Path</key>
			<string>app/ui/coordinators/MainCoordinator.swift</string>
		</dict>
		<key>app/ui/screens/launch/LaunchScreen.xib</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>ui</string>
				<string>screens</string>
				<string>launch</string>
			</array>
			<key>Path</key>
			<string>app/ui/screens/launch/LaunchScreen.xib</string>
		</dict>
		<key>app/ui/screens/root/RootBuilder.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>ui</string>
				<string>screens</string>
				<string>root</string>
			</array>
			<key>Path</key>
			<string>app/ui/screens/root/RootBuilder.swift</string>
		</dict>
		<key>app/ui/screens/root/RootViewController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>ui</string>
				<string>screens</string>
				<string>root</string>
			</array>
			<key>Path</key>
			<string>app/ui/screens/root/RootViewController.swift</string>
		</dict>
		<key>app/ui/screens/root/RootViewController.xib</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>ui</string>
				<string>screens</string>
				<string>root</string>
			</array>
			<key>Path</key>
			<string>app/ui/screens/root/RootViewController.xib</string>
		</dict>
		<key>app/ui/screens/root/RootViewModel.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>app</string>
				<string>ui</string>
				<string>screens</string>
				<string>root</string>
			</array>
			<key>Path</key>
			<string>app/ui/screens/root/RootViewModel.swift</string>
		</dict>
		<key>config/Config.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>config</string>
			</array>
			<key>Path</key>
			<string>config/Config.swift</string>
		</dict>
		<key>config/Production.xcconfig</key>
		<dict>
			<key>Group</key>
			<array>
				<string>config</string>
			</array>
			<key>Path</key>
			<string>config/Production.xcconfig</string>
		</dict>
		<key>config/Staging.xcconfig</key>
		<dict>
			<key>Group</key>
			<array>
				<string>config</string>
			</array>
			<key>Path</key>
			<string>config/Staging.xcconfig</string>
		</dict>
		<key>protocols/CoordinatorType.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>protocols</string>
			</array>
			<key>Path</key>
			<string>protocols/CoordinatorType.swift</string>
		</dict>
		<key>protocols/CreatedFromNib.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>protocols</string>
			</array>
			<key>Path</key>
			<string>protocols/CreatedFromNib.swift</string>
		</dict>
		<key>protocols/CustomCell.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>protocols</string>
			</array>
			<key>Path</key>
			<string>protocols/CustomCell.swift</string>
		</dict>
		<key>protocols/DisplaysProgress.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>protocols</string>
			</array>
			<key>Path</key>
			<string>protocols/DisplaysProgress.swift</string>
		</dict>
		<key>license.md</key>
		<dict>
			<key>Path</key>
			<string>license.md</string>
		</dict>
		<key>resources/Assets.xcassets</key>
		<dict>
			<key>Group</key>
			<array>
				<string>resources</string>
			</array>
			<key>Path</key>
			<string>resources/Assets.xcassets</string>
		</dict>
		<key>supporting_files/.gitkeep</key>
		<dict>
			<key>Group</key>
			<array>
				<string>supporting_files</string>
			</array>
			<key>Path</key>
			<string>supporting_files/.gitkeep</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>license.md</string>
		<string>Info.plist:APP_NAMESPACE</string>
		<string>Info.plist:API_BASE_URL</string>
		<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/Development.xcscheme</string>
		<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/Staging.xcscheme</string>
		<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/Production.xcscheme</string>
		<string>REMOVE_REFERENCES/remove_references.txt</string>
		<string>app/AppDelegate.swift</string>
		<string>app/errors/.gitkeep</string>
		<string>app/errors/ApiError.swift</string>
		<string>app/extensions/Optional+expect.swift</string>
		<string>app/extensions/String+trimmed.swift</string>
		<string>app/extensions/UIImageView+setImage.swift</string>
		<string>app/extensions/UIViewController+showAlert.swift</string>
		<string>app/helpers/DefaultsHelper.swift</string>
		<string>app/helpers/KeychainHelper.swift</string>
		<string>app/networking/ApiProvider.swift</string>
		<string>app/networking/ApiService.swift</string>
		<string>app/networking/encoder-and-decoder/___PACKAGENAME___JSONDecoder.swift</string>
		<string>app/networking/encoder-and-decoder/___PACKAGENAME___JSONEncoder.swift</string>
		<string>app/networking/operator/map2.swift</string>
		<string>app/networking/operator/request2.swift</string>
		<string>app/networking/operator/subscribe2.swift</string>
		<string>app/networking/params/LoginParams.swift</string>
		<string>app/networking/params/RefreshTokenParams.swift</string>
		<string>app/networking/plugins/AccessTokenExtractorPlugin.swift</string>
		<string>app/networking/plugins/AuthenticationPlugin.swift</string>
		<string>app/networking/responses/LoginResponse.swift</string>
		<string>app/networking/responses/RefreshTokenResponse.swift</string>
		<string>app/repositories/.gitkeep</string>
		<string>app/ui/coordinators/MainCoordinator.swift</string>
		<string>app/ui/screens/launch/LaunchScreen.xib</string>
		<string>app/ui/screens/root/RootBuilder.swift</string>
		<string>app/ui/screens/root/RootViewController.swift</string>
		<string>app/ui/screens/root/RootViewController.xib</string>
		<string>app/ui/screens/root/RootViewModel.swift</string>
		<string>config/Config.swift</string>
		<string>config/Development.xcconfig</string>
		<string>config/Staging.xcconfig</string>
		<string>config/Production.xcconfig</string>
		<string>protocols/CoordinatorType.swift</string>
		<string>protocols/CreatedFromNib.swift</string>
		<string>protocols/CustomCell.swift</string>
		<string>protocols/DisplaysProgress.swift</string>
		<string>resources/Assets.xcassets</string>
		<string>supporting_files/.gitkeep</string>
		<string>../Podfile</string>
	</array>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Concrete</key>
	<true/>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.applicationBase</string>
		<string>com.apple.dt.unit.iosBase</string>
		<string>com.apple.dt.unit.languageChoice</string>
	</array>
	<key>Identifier</key>
	<string>com.markrufino.iosBaseProject</string>
	<key>Description</key>
	<string>This template contains most files for CoreProc&apos;s iOS development team.</string>
</dict>
</plist>
